<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Product</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        /* Center form content */
        .center-div {
            display: flex;
            justify-content: center;
        }
        .form-group {
            margin: auto;
            margin-bottom: 20px; /* Spacing between form elements */
        }
        .btn-primary {
            display: block;
            margin: auto; /* Center the button */
        }
    </style>
</head>
<body>

<div class="container">
    <h3 class="text-center" style="padding: 50px">Create New Product</h3>

    <form th:action="@{/product/create}" th:object="${product}" method="post">
        <div class="form-group center-div">
            <label for="nameInput" style="padding: 10px">Name</label>
            <input th:field="*{productName}" type="text" class="form-control" id="nameInput" placeholder="Enter product name">
        </div>
        <div class="form-group center-div">
            <label for="quantityInput" style="padding: 10px">Quantity</label>
            <input th:field="*{productQuantity}" type="text" class="form-control" id="quantityInput" placeholder="Enter product quantity">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
